<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css" type="text/css" media="screen">
    {% block stylesheets %}
        {% stylesheets 'bundles/blogmain/css/login.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"  type="text/css" media="screen">
        {% endstylesheets %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body id="main">
    <div class="large-3 large-centered columns">
        <div class="login-wrapper">
            <div class="login-box">
                <div class="row">
                    <div class="large-12 columns">
                        <form action="" method="POST">
                            <div class="row">
                                <div class="large-12 columns">
                                    <input type="text" name="username" placeholder="Username" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <input type="password" name="password" placeholder="Password" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 large-centered columns">
                                    <input type="submit" class="button expand" value="Log In"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% block error %}
                    {% if error is defined %} <h6 class="error">{{ error }}</h6> {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
<javascript>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
    <script type="text/javascript">
    $(document).foundation()
    </script>
</javascript>
</html>